*{
    margin:0px;
    padding:0px;
}
h1{
    background-color: #000025;
    text-align: center;
    color:white;
    height:60px;
    padding-top: 20px;
}
#gamebox{
    height:200px;
    width:700px;
    margin-top: 80px;
    margin-left: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#gamebox .boxes{
    height:150px;
    width:150px;
    border-radius: 50%;
    background-color: pink;
}
#gamebox .boxes:hover{
    cursor: pointer;
    border:5px solid black;
}
#rock{
    background-image:url("images/rock.jpg");
    background-size: cover;
    background-position: center;
}
#paper{
    background-image:url("images/paper.jpg");
    background-size: cover;
    background-position: center;
}
#scissor{
    background-image:url("images/scissor.jpg");
    background-size: cover;
    background-position: center;
}
p{
    color:black;
    text-align: center;
}
#scoreBox{
    height:100px;
    width:200px;
    margin-top: 20px;
    margin-left:550px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#scoreBox .score{
    height:50px;
    width:80px;
    padding-left: 40px;
    font-size: 20px;
    margin-top: 10px;

}
#messageBox{
    height:40px;
    width:200px;
    margin-left: 550px;
    background-color: black;
    color:white;
    margin-top: 60px;
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
}